[submodule "models/EfficientLoFTR"]
	path = models/EfficientLoFTR
	url = https://github.com/zju3dv/EfficientLoFTR.git
[submodule "models/LoFTR"]
	path = models/LoFTR
	url = https://github.com/zju3dv/LoFTR.git
[submodule "models/RoMa"]
	path = models/RoMa
	url = https://github.com/Parskatt/RoMa.git
[submodule "models/RoMaV2"]
	path = models/RoMaV2
	url = https://github.com/Parskatt/RoMaV2.git
[submodule "models/LoMa"]
	path = models/LoMa
	url = https://github.com/davnords/LoMa.git
[submodule "models/mast3r"]
	path = models/mast3r
	url = https://github.com/naver/mast3r.git
